.card__list {
    margin: 80px 0 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 38px 20px;
}

.card__button {
    margin-top: 50px;
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    border-radius: 6px;
    height: 36px;
    background-color: #F9F9F9;
}

@media screen and (max-width: 970px) {
    .card__list {
        grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
        gap: 30px 30px;
    }
}

@media screen and (max-width: 767px) {
    .card__list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 34px;
        margin: 50px 0 0;
    }
}