.movies {
    width: calc(100% - (70px*2));
    margin: 80px auto;
}

@media screen and (max-width: 850px) {
    .movies {
        width: calc(100% - (30px*2));
    }
}

@media screen and (max-width: 450px) {
    .movies {
        width: calc(100% - (10px*2));
    }
}